.heading {
  text-align: left;
}

.subHeading {
text-align: left;
 font-size: 20px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.loginInfo{
  margin-top: auto;
  text-align: right;
}

.loginInfo span{
  font-weight: bold;
}

.loginInfo a{
  font-weight: bold;
  color: blue;
}

.titleSection h3 {
  text-align: center;
  margin-bottom: 20px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.button {
    background-color: #900000; /* Green */
    border: #60090;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.body {
    background-color: lightblue;
    margin:auto;
    position:absolute;
    top: 20%;
    left: 30%;
    width:70%;
    height:70%;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    border: 1px solid #ccc;
    background-color: #f3f3f3;
}

.actionSection {
  position: absolute;
  bottom: 20px;
}

.actionItems {
  margin-right: 20px;
  margin-left: 20px;
  font-size: 13px;
  padding: 5px 20px;
  border-radius: 5px;
  height: 30px;
  width: auto;
}

.dummyActionItems {
   margin-right: 20px;
   margin-left: 20px;
   font-size: 13px;
color: #000;
 background-color: Yellow;
  padding: 5px 20px;
  border-radius: 5px;
 }
.formSection .inputBoxes {
  width: 65% !important;
}
.formSection  {
      width: 100%;
    height: 190px;
    margin: 10px;
    padding: 5px;
}
.table {
    border-collapse: collapse;
    width: 100%;
    border: 2px solid #FFFF;

}

.table tr:first-child {
  background: #3cff;
}

.table tr:first-child th {
  padding: 10px;
}

.td {
    text-align: left;
    padding: 8px;
    border: 2px solid #FFFF;


}
.tdData {
    text-align: left;
    padding: 8px;
     border: 2px solid #FFFF;
     background-color: #f2f2f2;
     border: 1px solid black
}

.inputForm{
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35%;
    height: auto;
    padding: 20px;
    background: #3cff;
    border-radius: 10px;

}

.inputBoxes {
    margin: auto 0 auto 65px;
    width: 50%;
    border: 1px solid Blue;
    padding: 10px;
    border-radius:5px;
    margin-bottom: 20px;
}

.inputFormCenter {
    margin: auto 0 auto 65px;
    width: 100%;
    padding: 10px;
}

.addButton {
  vertical-align: text-top;
  border-radius: 4px;
  text-align: center;
  font-size: 15px;
  margin: 0 auto;
  padding: 5px 15px;
  position: relative;
  left: 33%;
}

.formInputs .inputBoxes {
      width: 66% !important;
}


.actionItemsSucess {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25%;
  padding: 20px;
  background: #3cff;
  border-radius: 10px;
}

.actionItemsSucessButton {
  margin: 0 auto;
  display: block;
  padding: 5px 20px;
  font-size: 14px;
  border-radius: 5px;
}


