.heading {
  text-align: left;
}

.subHeading {
text-align: left;
 font-size: 20px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.button {
    background-color: #900000; /* Green */
    border: #60090;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.body {
    background-color: lightblue;
    text-align: center;
}

.table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 2px solid #FFFF;
}

.td {
    text-align: left;
    padding: 8px;
    border: 2px solid #FFFF;

}
.tdData {
    text-align: left;
    padding: 8px;
     border: 2px solid #FFFF;
     background-color: #f2f2f2
}

.inputForm{
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35%;
    padding: 20px;
    background: #3cff;
    border-radius: 10px;

}

.inputBoxes {
    margin: auto 0 auto 65px;
    width: 50%;
    border: 1px solid Blue;
    padding: 10px;
    border-radius:5px;
    margin-bottom: 20px;
}

.inputFormCenter {
    margin: auto 0 auto 65px;
    width: 100%;
    padding: 10px;
}

.addButton {
  vertical-align: text-top;
  border-radius: 4px;
  text-align: center;
  font-size: 15px;
  margin: 0 auto;
  padding: 5px 15px;
  position: relative;
  left: 25%;
}


