.App {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

body {
  background-image: url("./images/blockchain.jpg");
}

.loginForm {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35%;
    padding: 20px;

    border-radius: 10px;
}

.loginBoxes {
    margin: auto auto auto 15px;
    width: 50%;
    border: 1px solid Blue;
    padding: 5px;
    border-radius: 5px;
    display: block;
    margin: 15px auto;
}

select.loginBoxes {
  height: 25px;
}

.loginFormCenter {
    margin: auto 0 auto auto;
    width: 100%;
}

.loginButton {
    vertical-align: text-top;
    border-radius: 4px;
    text-align: center;
    font-size: 15px;
    margin: auto 0 auto;
    padding: 5px 15px;
    position: relative;
    left: 39%;
}


.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
    margin: 0;
    padding: 0;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: #fff;
    text-align: center;
    font-size: 300%;
}

.appHeader {
    color: #Black;
    text-align: center;
}

.App-title {
    font-size: 1.5em;
    text-align: center;
    padding: 10px;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}